@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Jazz Parayaoan</h1>
    <p>Hey there! Welcome in! Make yourself at home and get comfy :)</p>
</div>
